<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="ship-component-box-outer">
    <div  class="ship-component-header">
        <div class="ship-component-tab">
            <input type="number" id="engine-count-{{$index}}" ng-change="$ctrl.updateEngineSet()" ng-model="$ctrl.engineSetData.count" style="width:50px"/>
            <label for="engine-count-{{$index}}">&#10005;</label>
            <select ng-change="$ctrl.updateEngineSet()" ng-model="$ctrl.engineSetData.engineId" ng-options="engine.id as engine.schem.name.toString() for engine in $ctrl.engineList"></select>
            <img ng-click="$ctrl.editEngineSchem()" src="images/iconmonstr-edit-6.svg" style="vertical-align:middle;" width="24" height="24" alt="edit engine"/>
            <img ng-click="$ctrl.createEngineSchem()" src="images/iconmonstr-plus-6.svg" style="vertical-align:middle;" width="24" height="24" alt="create new engine"/> 
        </div>
        <div style="flex:1;"></div>
        <div style="padding-right:20px">
            <img ng-click="$ctrl.removeEngineSet()" src="images/iconmonstr-trash-can-2.svg" style="vertical-align: middle" width="32" height="32" alt="delete engine set"/>
        </div>
    </div>
    <div class="ship-component-box-inner" style="display: flex; flex-direction: column; flex-wrap:wrap; justify-content: flex-start;">
        <engine-schem-editor ng-show="$ctrl.engineSetBeingEdited === $ctrl.setId" engine-schem-data="$ctrl.engineSchemData"></engine-schem-editor>
        <div style="display:flex; flex-direction:row">
            <div style="display: flex; flex-direction: column; width: 100%; flex:1; flex-wrap:nowrap"  ng-repeat="(slotName, slotMat) in $ctrl.engineSetData.slots">
                <div style="display:flex; flex-direction: row; flex-wrap: nowrap">
                    <div style="display:flex; flex-direction: column; padding: 0 5px; flex-wrap: nowrap; margin:auto">
                        <label style="white-space:nowrap; text-align: center">{{slotName}}</label>
                        <select ng-change="$ctrl.updateEngineSet()" style="width:100%;min-width:120px;box-sizing:border-box" ng-model="slotMat.material" ng-options="m for m in $ctrl.materialNames track by m"></select>
                    </div>
                    <div ng-show="$ctrl.slotDesc[slotName].hasQuality" style="display:flex; flex-direction: column; padding: 0 10px">
                        <label style="white-space:nowrap; text-align: center">Quality</label>
                        <input ng-change="$ctrl.updateEngineSet()" type="number" min="1" max="10" ng-model="slotMat.quality" style="width:50px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="engine-set-editor-footer">
            <div>
                Power:&nbsp;{{$ctrl.engineSetData.getPower()|number:2}}
            </div>
            <div>
                Mass:&nbsp;{{$ctrl.engineSetData.getMass()|number:2}}kg
            </div>
            <div>
                Mass&nbsp;Efficiency:&nbsp;{{$ctrl.engineSetData.getPower()/$ctrl.engineSetData.getMass()|number:2}}
            </div>
        </div>
    </div>
</div>
