<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="ship-config">
    <!-- Ship total stats -->
    <div class="ship-component-box-outer">
        <div class="ship-component-header">
            <div class="ship-component-tab">Ship Total</div>
            <div style="flex:1"></div>
        </div>
        <div class="ship-component-box-inner">
            <div class="stat-row">
                <div>Speed:&nbsp;{{$ctrl.currentShip.getSpeed()|number:2}}kn</div>
                <div>Power:&nbsp;{{$ctrl.currentShip.getPower()|number:2}}</div>
                <div>Mass:&nbsp;{{$ctrl.currentShip.getMass()|number:2}}kg</div>
                <div>Mass&nbsp;Efficiency:&nbsp;{{$ctrl.currentShip.getPower()/$ctrl.currentShip.getMass()|number:3}}</div>
            </div>
        </div>
    </div>
    <!-- base weight -->
    <div class="ship-component-box-outer">
        <div style="display: flex; flex-direction: row">
            <div style="flex:1;display:flex; flex-direction: column; margin-right:10px">
                <div class="ship-component-header">
                    <div class="ship-component-tab stat-background">Additional&nbsp;Mass</div>
                    <div style="flex:1"></div>
                </div>
                <div class="ship-component-box-inner">
                    <input style="width:300px" ng-change="$ctrl.saveShipConfig()" type="text" ng-model="$ctrl.currentShip.baseMass"/>&nbsp;kg
                </div>
            </div>
            <div style="flex:1;display:flex; flex-direction: column">
                <div class="ship-component-header">
                    <div class="ship-component-tab stat-background">Additional&nbsp;Power</div>
                    <div style="flex:1"></div>
                </div>
                <div class="ship-component-box-inner">
                    <input style="width:300px" ng-change="$ctrl.saveShipConfig()" type="text" ng-model="$ctrl.currentShip.addPower"/>
                </div>
            </div>
        </div>
        <p class="hint">
            Hint: You can use basic expressions here, e.g. <span style="font-style:italic">2*60+74</span>
        </p>
    </div>
    <engine-set-editor ng-repeat="e in $ctrl.currentShip.engines track by e.setId" 
        set-id="e.setId" 
        engine-set-data="e" 
        material-names="$ctrl.materialNames" 
        engine-list="$ctrl.engineList"
        engine-set-being-edited="$ctrl.engineSetBeingEdited"
        engine-schem-data="$ctrl.getEngineSchemById(e.engineId)"
    >
    </engine-set-editor>
    <div class="engine-list-footer">
        <img ng-click="$ctrl.addEngineSet()" class="svg-icon" src="images/iconmonstr-plus-6.svg" width="48" height="48" alt="add new engine" style="align-self: center"/>
    </div>
</div>
